<html>
    <head>
        <title>Teste</title>
    </head>
    <body>
        Outro teste <br>
        {% for user in users %}
            {{ user.name }} - {{ user.email }} <br>
        {% endfor %}
    </body>
</html>
